<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexco.BDActualizador.Properties.Settings.MasterConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=master;Integrated Security=True" />
      <add name="Conexco.Conexco.BDActualizador.Properties.Settings.MasterConnectionString"
          connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>