<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConexcoFacturación.Properties.Settings.ConexcoConnectionString"
            connectionString="Data Source=.;Initial Catalog=Conexco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>