<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Conexco.Model.Properties.Settings.ConexcoConString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\Conexco.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="Conexco.Model.Properties.Settings.ConexcoConnectionString"
            connectionString="Data Source=.;Initial Catalog=Conexco;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>